<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.common">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <service
            android:name=".playservice.PlayerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.conmon.playservice.PlayerService"/>
            </intent-filter>
        </service>
    </application>

</manifest>